
.content{
    position: relative;
    display: flex;
    margin: 5vh 15vh 2vh 15vh;
    flex-grow: 1;
}
.column-1{
    position: relative;
    flex: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.item-info{
    position: relative;
    flex: 9;
}
.more{
    flex: 1;
}
.more-info{
    position: absolute;
    bottom: 5vh;
    color: aliceblue;
    background-color: rgb(5, 129, 129);
}
.title-item{
    position: absolute;
    margin-top: 5vh;
    font-size: calc(5vw + 2vh);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap; /* Ngăn ngắt dòng, cho phép nội dung tràn qua lề phải */
    overflow: visible; /* Cho phép nội dung tràn ra ngoài khung */
}
.title-item .item{
    width: 150%;
    line-height: 1;
    white-space: pre-line; /* Cho phép nội dung xuống dòng */
    overflow-wrap: break-word; /* Đảm bảo nội dung dài sẽ được cắt xuống dòng */
    word-break: break-word; /* Cắt từ để không làm tràn phần tử */
}
.subtitle-item{
    position: absolute;
    font-size: calc(0.5vw + 0.5vh);
    top: calc(10vw + 10vh);
}

.column-2{
    flex: 2;
    position: relative;
}

