.home{
    height: 100vh;
    overflow: hidden ;
    position: relative;
    background-color:#6CC5D9;
}
.secon{
    position: absolute;
    top: 9vh; 
    left: 9vh;
    right: 9vh;
    bottom: 9vh;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    background-color: #3F8EBF; /* Màu nền của phần trên */
    border-radius: 10px;
    z-index: 5;
}

.end{
    position: absolute;
    bottom: 0;
    text-align: center;
}