.body{
    overflow-x: hidden;
}
.home{
    height: 100vh;
    overflow: hidden ;
    position: relative;
    background-color:#ffffff;
    background: linear-gradient(to top, #bbbec3, #ebecee);
}
.home-content{
    position: absolute;
    top: 9vh; 
    left: 9vh;
    right: 9vh;
    bottom: 9vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Màu nền của phần trên */
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

/* .end{
    position: absolute;
    left: 9vh;
    right: 9vh;
    bottom: 9vh;
    bottom: 0;
    text-align: center;
} */