.showslides{
    width: 100%; /* Chiều rộng cố định của component */
    height: 100%; /* Chiều cao cố định của component */
    position: absolute;
    display: flex;
    flex-direction: column;
}
.images-container {
    flex: 9;
    display: flex;
    justify-content: left;
    max-height: 90%;
    padding-bottom: 5vh;
}
.reps-img{
    max-width: 100%;
    margin-right: 10%;
}
.controls{
    flex: 1;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
button{
    background-color:transparent;
    border: none;
    height: fit-content;
}