.showslides{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.images-container {
    flex: 9;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5vh;
    overflow-x: visible;
    transition: opacity 0.5s ease-in-out;
}
.reps-img{
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    object-fit: cover;
    padding-bottom: 2%;
}
/* .reps-img:nth-of-type(1) {
    left: 0; 
}

.reps-img:nth-of-type(2) {
    left: 100%; 
    padding-left: 5%;
} */

.firth-img{
    left: 0;
}
.secon-img{
    left: 100%; 
    padding-left: 5%;
}
.controls{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color:transparent;
    border: none;
    height: fit-content;
}
.hidden {
    opacity: 0;
}
  
.visible {
    opacity: 1;
}