

/* 
.menu-bara {   
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;

} */
.logo{
    height: auto;
    width: 100px;
}
.menu-bara:first-of-type {
  margin-left: 0px;
}
.menu-bara:last-of-type {
  margin-right: 0px;
}
.menu-bara:first-of-type ul li:first-child {
  margin-left: 0px;
}
.menu-bara:last-of-type ul li:last-child {
  margin-right: 0px;
}
.menu-bar:first-of-type ul li:first-child {
  margin-left: 0px;
}
.menu-bar:last-of-type ul li:last-child {
  margin-right: 0px;
}
.menu-bara{
  display: flex; /* Hiển thị các mục menu theo chiều ngang */
  flex-direction: column; /* Hiển thị các mục menu theo chiều dọc */
  margin: auto;
}
.menu-bara ul {
  list-style: none;
  display: flex;
  padding:0 ;
  margin: 0;
  }
  
.menu-bara li {
  position: relative; 
  margin: 20px;
  padding-top: 1vh;
}
  
.menu-bara a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 10px;
  transition: color 0.3s ease;
}
.menu-bara h5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}
.menu-bara a:hover {
  color: #ff6600; /* Change to your desired hover color */
}
.menu-bara li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Độ dày của đường kẻ phía trên */
  background-color: red; /* Màu sắc của đường kẻ */
  transform: scaleX(0); /* Bắt đầu với chiều rộng là 0 */
  transform-origin: top center;
  transition: transform 0.2s ease-in-out;
}

.menu-bara li:not(.exclude):hover::before {
  transform: scaleX(1); /* Khi hover, chiều rộng của đường kẻ là 100% */
}

.main-header{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 0 15vh;
}
@media (max-width: 1162px) {
  h7 {
      display: none;
  }
}